* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  height: 700px;
}
.Container {
}
.Content1 {
  color: white;
  background: url('./assets/testimage1.jpeg');
  background-size: 700px 100%;
  font-family: Impact, sans-serif;
  width: 100%;
  height: 528px;
  padding: 5px;
}
.Content2 {
  color: rgb(88, 235, 88);
}
.Content3 {

}

.MainHeader {
  width: 100%;
  background-color: rgb(88, 235, 88);
  padding: 8px 16px;
}

.MainHeader > div {
  display: inline-block;
  vertical-align: middle;
}

.MainHeader__Home {
  color:rgb(23, 49, 23);
  font-weight: bold;
  font-size: 25px;
  text-decoration: none;
}

.MainNav {
  width: calc(100% - 80px);
  display: inline-block;
  text-align: right;
  vertical-align: middle;
}

.MainNav__Items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.MainNav__Item {
  display: inline-block;
  margin: 0 16px;
}

.MainNav__Item a {
  color:rgb(23, 49, 23);
  text-decoration: none;
  font-weight: bold;
  padding: 3px 0;
}

.MainNav__Item a:hover,
.MainNav__Item a:active {
  color: white;
  border-bottom: 2px solid white;
}

.MainNav__Item__cta a {
  color: white;
  background-color: rgb(240, 85, 68);
  padding: 8px 16px;
  border-radius: 8px;
}

.MainNav__Item__cta a:hover,
.MainNav__Item__cta a:active {
  color: rgb(240, 85, 68);
  background-color: white;
  border: none;
}